body{
  background-color: purple;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

html{
  height: 100%;
  overflow: hidden;
}

#container{
  background-color: red;
  display: grid;
  grid-template-columns: 300px auto;
  width: 100%;
  height:100%;
  overflow: hidden;
}

#myMenu{
    background-color: orange;
  border: green solid;
  grid-column: 1/2;
  overflow: hidden;
}

#myIframe{

  border: blue outset;
  grid-column: 2/3;
  height:100%;
  width: 100%;
  overflow: hidden;
}
